div:has(> .overlay) {
	position: relative;
	overflow: hidden;
}
.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	& ~ div {
		isolation: isolate;
	}
	div {
		height: 100%;
	}
}
.overlay-dark {
	background-color: rgba(0, 0, 0, 0.3);
}
.overlay-light {
	background-color: rgba(255, 255, 255, 0.3);
}
.overlay-blur {
	backdrop-filter: blur(5px);
}
.overlay-desaturate {
	backdrop-filter: saturate(0);
}
.overlay-blur.overlay-desaturate {
	backdrop-filter: blur(5px) saturate(0);
}

.background-attachment-fixed {
	background-attachment: fixed;
}
.background-position-center {
	background-position: center;
}
.background-no-repeat {
	background-repeat: no-repeat;
}
.background-size-cover {
	background-size: cover;
}
.background-size-contain {
	background-size: contain;
}
