.v-toolbar {
	overflow: visible !important;
	.v-toolbar__content {
		overflow: visible;
		ul#navitems {
			a,
			button {
				justify-content: flex-start !important;
				display: flex;
				.v-btn__content {
					width: 100%;
					justify-content: space-between !important;
				}
			}
			& > li {
				margin: 0 2px;
				& > ul {
					&.leftDirection {
						left: auto;
						right: 0;
					}
					ul {
						top: 0;
						left: 100%;
						&.leftDirection {
							left: auto;
							right: 100%;
						}
					}
				}
			}
			ul {
				min-width: 200px;
				box-shadow: 0 5px 15px -10px #888;
			}
		}

		ul {
			position: relative;
			margin: 0;
			padding: 0 !important;

			li {
				display: inline-block;
				position: relative;

				ul {
					background: rgb(var(--v-theme-surface));
					color: rgb(var(--v-theme-on-surface));
					display: flex;
					visibility: hidden;
					top: 100%;
					left: 0;
					position: absolute;

					li {
						width: 100%;
					}
				}

				&:hover > ul {
					visibility: visible;
					flex-wrap: wrap;
				}
			}
		}
	}
}
