@use "sass:map";
@use "../../../node_modules/vuetify/lib/styles/settings/_colors.scss" as colors;
.cursor-pointer {
	cursor: pointer;
}

.pageLoader {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	z-index: 999999;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.3);
}
body.disabled {
	.pageLoader {
		display: flex;
	}
}
.overlay-dark,
.overlay-light {
	position: relative;
	&::before {
		content: "";
		top: 0;
		position: absolute;
		width: 100%;
		height: 100%;
	}
}
.overlay-dark::before {
	background-color: rgba(0, 0, 0, 0.3);
}
.overlay-light::before {
	background-color: rgba(255, 255, 255, 0.3);
}
.cssProperty {
	&::before {
		content: "[";
	}
	&::after {
		content: "]";
	}
	background: map.get(colors.$grey, "darken-3");
	border-radius: 4px;
	padding: 4px 6px;
	font-size: 10px;
	line-height: 23px;
}
