@use "sass:map";
@use "../../../node_modules/vuetify/lib/styles/settings/_colors.scss" as colors;
.cursor-pointer {
	cursor: pointer;
}
p:empty {
	margin: 0;
	&::before {
		content: "";
		display: block;
		height: 1rem;
	}
}
.pageLoader {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	z-index: 999999;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.3);
}
body.disabled {
	.pageLoader {
		display: flex;
	}
}

.cssProperty {
	&::before {
		content: "[";
	}
	&::after {
		content: "]";
	}
	background: map.get(colors.$grey, "darken-3");
	border-radius: 4px;
	padding: 4px 6px;
	font-size: 10px;
	line-height: 23px;
}
.height-100 {
	min-height: 100vh;
}
.heading {
	margin-bottom: 1rem;
}
